*{
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: 'montserratextrabold';
    src: url('montserrat-extrabold-webfont.woff2') format('woff2'),
         url('montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container{
    background-color: #FCE8E9;
    border-radius: 32px;
    width: 95vw;
    height: 4500px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

nav ul li {
    list-style: none;
    font-family:'montserratextrabold';
    font-size: 1.2em;
}

nav ul{
    background-color:#F8C0C7;
    border-radius: 32px;
    height: 80px;
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    display: inline;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color:black;
}

header{
    margin-left: auto;
    margin-right: auto;
}

header > img {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    display: block;
}

main img{
    width: 275px;
    height: 275x;
    margin-top: 20px;
    margin-bottom: 100px;
}

#foto1{
    margin-left: 28vw;
}

#foto2{
    margin-left:-45px;
}

main p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.overmij{
    width: 90vw;
    height: 450px;
    background-color: #F8C0C7;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    padding: 10px;
    margin-bottom: 30px;
}

.overmij img{
    width: 300px;
    height: 300px;
    margin-left: 80px;
    margin-top: 30px;
}

.overmij h2{
    margin-left: 30px;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 20px;
}

.overmij p{
    font-family: 'robotoregular';
    font-size: 0.9em;
    width: 40vw;
    margin-left: 500px;
    margin-top: -375px;
    background-color: #FFFFFF;
    border-radius: 32px;
    padding: 40px;
}

  .cv{
    width: 90vw;
    height: 690px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .cv h2{
    margin-left: 30px;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 20px;
  }

  .cv p{
    font-family: 'robotoregular';
    font-size: 0.9em;
    margin-left: 40px;
    margin-top: 10px;
  }

  #opleiding{
      margin-left: 600px;
      margin-top: -360px;
  }

  #extra{
      margin-left: 40px;
      margin-top: 140px;
  }

  #hobbys{
      margin-left: 600px;
      margin-top: -290px;
  }

  .projecten{
    width: 90vw;
    height: 2600px;
    background-color: #F8C0C7;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    padding: 10px;
    margin-bottom: 30px;
  }

  .projecten h2{
    margin-left: 30px;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 20px;
  }

  .projecten h3{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 20px;
  }

  .projecten img{
    /* width: 844px;
    height: 596px; */
    width: 597px;
    height: 422px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

footer{
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
    background-color: #F8C0C7;
    height:60px;
    padding: 10px;
}

footer p{
    margin-left: 20px;
    margin-top: 5px;
    font-weight: bold;
}
#linkedin{
    margin-left: 380px;
    margin-top: -30px;
}

footer img{
    margin-left: 600px;
    margin-top: -30px;
    display: flex;
    align-items: center;
}

  h2{
    font-family:'montserratextrabold';
    font-size: 0.94em;
  }

  h3{
    font-family:'montserratextrabold';
    font-size: 0.94em;
  }

  p{
    font-family:'robotoregular';
    font-size: 0.94em;
  }

  /* content hover */
.pcontent{
    padding: 10px;
    position:relative;
    width: 597px;
    height: 422px;
    margin-left: auto;
    margin-right: auto;
}

.image{
    opacity:1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition: .5 ease;
    opacity: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 597px;
    height: 422px;
    border-radius: 32px;
}

.pcontent:hover .image{
    opacity: 0.3;
}

.pcontent:hover .middle{
    opacity: 1;
    background-color: white;
}

.text{
    font-family:'robotoregular';
    font-size: 0.94em;
    color: black;
    text-align: center;
    padding: 20px;
    margin-left: aut0;
    margin-right: auto;
}