*{
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: 'montserratextrabold';
    src: url('montserrat-extrabold-webfont.woff2') format('woff2'),
         url('montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
    background-color: #FCE8E9;
    border-radius: 32px;
    width: 96vw;
    height: 4300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
nav ul li {
    list-style: none;
    font-family:'montserratextrabold';
    font-size: 0.94em;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    display: inline;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}


nav ul{
    background-color:#F8C0C7;
    border-radius: 32px;
    height: 80px;
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -130px;
}

header img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

main img{
    width: 300px;
    height: 300px;
}

.overmij img{
    width: 250px;
    height: 250px;
}

.projecten img{
    /* width: 844px;
    height: 596px; */
    width: 597px;
    height: 422px;
    border-radius: 32px;
    display: flex;
    align-items: center;

}

  .overmij{
      width: 80vh;
      height: 600px;
      background-color: #F8C0C7;
  }

  .cv{
    width: 80vh;
    height:800px;
    background-color: #FFFFFF;
  }

  .projecten{
      width: 80vh;
      height: 1200px;
      background-color: #F8C0C7;
  }

  h2{
    font-family:'montserratextrabold';
    font-size: 0.94em;
  }

  h3{
    font-family:'montserratextrabold';
    font-size: 0.94em;
  }

  p{
    font-family:'montserratextrabold';
    font-size: 0.94em;
  }
